<div class="container text-center">
  <div class="col-md-6 mt-3">
    <form [formGroup]="editForm" (ngSubmit)="editTasinmaz()">
      <div class="input-group mb-3">
        <span class="input-group-text text-right" id="inputGroup-sizing-default" style="width: 7rem;">Taşınmaz Adı</span>
        <input type="text" class="form-control" aria-label="Sizing example input" formControlName="adi" aria-describedby="inputGroup-sizing-default" required autofocus/>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default" style="width: 7rem;">İl Adı</span>
        <input type="text" class="form-control" aria-label="Sizing example input" formControlName="ilAdi" aria-describedby="inputGroup-sizing-default" required/>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="ilceAdi" style="width: 7rem;">İlçe Adı</span>
        <input type="text" class="form-control" aria-label="Sizing example input" formControlName="ilceAdi" aria-describedby="inputGroup-sizing-default" required/>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default" style="width: 7rem;">Mahalle Adı</span>
        <input type="text" class="form-control" aria-label="Sizing example input" formControlName="mahalleAdi" aria-describedby="inputGroup-sizing-default" required/>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default" style="width: 7rem;">Ada</span>
        <input type="text" class="form-control" aria-label="Sizing example input" formControlName="ada" aria-describedby="inputGroup-sizing-default" required/>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default" style="width: 7rem;">Parsel</span>
        <input type="text" class="form-control" aria-label="Sizing example input" formControlName="parsel" aria-describedby="inputGroup-sizing-default" required/>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default" style="width: 7rem;">Nitelik</span>
        <input type="text" class="form-control" aria-label="Sizing example input" formControlName="nitelik" aria-describedby="inputGroup-sizing-default" required/>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default" style="width: 7rem;">Koordinat</span>
        <input type="text" class="form-control" aria-label="Sizing example input" formControlName="koordinatBilgileri" aria-describedby="inputGroup-sizing-default" required/>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: start;">
          <button class="btn btn-md btn-danger btn-block" type="button" (click)="goBackButton()">Geri Dön</button>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: end">
          <button class="btn btn-md btn-success btn-block" [disabled]="editForm.invalid" type="submit">{{buttonAdi}}</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6 mt-3">
    <div class="left-bar"></div>
    <div id="ol-map" class="map-container"></div>
  </div>
</div>

